:root { 
--white_A700_b2:#ffffffb2; 
--orange_100_01:#f6e2bf; 
--orange_100_02:#f3d6ae; 
--gray_800_01:#4f4f4f; 
--deep_purple_300:#aa6be9; 
--pink_A100:#ea6ccd; 
--white_A700_33:#ffffff33; 
--white_A700_cc:#ffffffcc; 
--gray_900_a5:#1c1c21a5; 
--purple_300_01:#af69e8; 
--purple_300_02:#ce68e1; 
--deep_orange_300:#ec7c5c; 
--white_A700_19:#ffffff19; 
--deep_purple_A100:#b577e5; 
--purple_A200:#da51e7; 
--purple_300:#eb63d2; 
--gray_700_33:#56565633; 
--gray_900_02:#1c1c21; 
--deep_orange_300_02:#ed8a66; 
--white_A700_e5:#ffffffe5; 
--blue_gray_200:#9fbecc; 
--gray_800:#58524a; 
--deep_orange_300_01:#ec7b5b; 
--gray_900:#161618; 
--gray_900_01:#1f1f21; 
--orange_100:#f5ddb7; 
--black_900_33:#00000033; 
--white_A700:#ffffff; 
}